.main {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100dvh;
}

.currentAmountValue {
    display: flex;
    gap: 10px;
}

.mainButton {
    background-color: transparent;
    border: none;
    font-size: 1em;
    &:active {
        transform: scale(1.1);
        font-weight: 400;
    }
}

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bySecondsPurchase {
    display: flex;
    gap: 20px;
    div {
        p {
            font-size: .7em;
        }
    }
    button{
        background-color: transparent;
        border: none;
    }
}
